.container {
  display: flex;
  margin: 5px;
  align-items: center;
  width: 275px;
  height: 80px;
  border-radius: 5px;
  font-family: 'Nunito';
  background-color: hsla(25, 45%, 69%, 0.25);
  border: 1px solid hsl(0, 0%, 0%, 0.1);
}

.content {
  display: flex;
  align-items: center;
}

.ima {
  border: 1px solid hsl(0, 0%, 0%, 0.1);
  border-radius: 5px;
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
}

.container:hover .ima {
  transform: scale(1.1);
}
